.my_container {
  background-image: url("../images/bg_king.png") !important;
  background-size: cover; }

.img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 50px auto;
  display: block; }

.img_mid {
  max-width: 100%;
  width: 1140px;
  height: auto;
  margin: 0 auto;
  display: block; }

.img_center {
  max-width: 100%;
  width: 1040px;
  height: auto;
  margin: 30px auto;
  display: block; }

.img_only {
  max-width: 100%;
  width: 1320px;
  height: auto;
  margin: 30px auto;
  display: block; }

.text_content {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  position: relative;
  font-family: "Arial"; }

.text_title {
  width: 860px;
  max-width: 100%;
  margin: 0px auto;
  text-align: center;
  font-size: 31px;
  padding-top: 30px;
  font-family: "SFU Melior";
  font-weight: bold;
  font-style: normal;
  margin-top: 40px; }

.group_image_header {
  width: 100%;
  max-width: 100%;
  height: auto;
  position: relative; }
  .group_image_header img {
    position: absolute;
    top: 0;
    left: 0; }
  .group_image_header img:first-child {
    position: initial; }

.group_image {
  margin: 25px auto;
  width: 1040px;
  max-width: 100%;
  height: auto;
  position: relative; }
  .group_image img {
    position: absolute;
    top: 0;
    left: 0; }
  .group_image img:first-child {
    position: initial; }

.group_image_700 {
  margin: 25px auto;
  width: 700px;
  max-width: 100%;
  height: auto;
  position: relative; }
  .group_image_700 img {
    position: absolute;
    top: 0;
    left: 0; }
  .group_image_700 img:first-child {
    position: initial; }

.group_image_full {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: auto;
  position: relative; }
  .group_image_full img {
    position: absolute;
    top: 0;
    left: 0; }
  .group_image_full img:first-child {
    position: initial; }

.top_content {
  margin-top: -30%;
  position: relative; }

.top_img_1 {
  margin-top: -25%; }

.center .pointer {
  width: 44px;
  height: 131px;
  display: block;
  margin: 0 auto;
  animation: changewidth 1.5s infinite alternate; }
@keyframes changewidth {
  from {
    transform: translateY(-10%); }
  to {
    transform: translateY(10%); } }
.group_text_img {
  margin: 0 auto;
  width: 1040px; }
  .group_text_img img {
    width: 445px;
    height: 300px;
    float: right;
    margin-left: 20px; }

.click_area {
  position: absolute;
  height: 60px;
  width: 130px;
  right: 33%;
  top: 63%;
  z-index: 500;
  cursor: pointer; }

.click_area2 {
  background-color: #8c6ea0;
  height: 30px;
  width: 130px;
  right: 23%;
  top: 63%; }

.click_area:hover + .chi_tiet {
  cursor: pointer;
  filter: brightness(1.2); }

.section_1 {
  background-position: top; }

.ss_1_group_2 {
  margin-top: -11%; }

.section_1_group_text_1 {
  margin-top: -5%; }

.img_thu_gon {
  width: 47px;
  height: 56px;
  margin: 20px auto;
  display: block; }

.img_thu_gon_1 {
  margin-top: -5%;
  width: 47px;
  height: 56px;
  margin: 20px auto;
  margin-top: -5%;
  bottom: 0; }

.ss1_img_2 {
  margin-top: -24%; }

.ss2_img_1 {
  margin-top: -9%; }

.section_2 {
  margin-top: -5%; }

.section_2_group_text_2 {
  margin-top: -8%; }

.ss3_img_6 {
  margin-top: -10%; }

.ss3_img_8 {
  margin-top: -31%; }

.section_3_group_text_6 {
  margin-top: -16%; }

.img_thu_gon_3 {
  margin-top: -29%; }

.section_4 {
  margin-top: -7%; }

.ss4_img_1 {
  margin-top: -23%; }

.section_4_group_text_2 {
  margin-top: -65%; }

.ss4_group_img_1 {
  margin-top: -8%; }

.bg_last {
  margin-top: -11%; }

.author {
  display: block;
  text-align: center;
  width: 982px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  font-family: "SFU Melior";
  font-style: normal;
  padding-bottom: 20px; }
  .author p {
    margin-bottom: 0; }
    .author p span {
      font-weight: bold;
      margin-bottom: 0; }

/*# sourceMappingURL=main.css.map */
